*{
    margin: 0px;
    padding: 0px;
    font-family: 'Baloo Bhaina 2';
}
.music_player{
    position: absolute;
    width: 70%;
    height: 95vh;
    border: 2px solid black;
    top: 1%;
    left: 1%;
    
}
.music{
    position: absolute;
    display: inline-block;
    width: 70%;
    height: 82%;
    top: 1%;
    left: 1%;
    border: 2px solid black;
    text-align: center;
    /* background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%); */
}
.list{
    display: inline-block;
    position: absolute;
    width: 26%;
    top: 1%;
    left: 72.5%;
    height: 82%;
    border: 2px solid black;
    text-align: center;
}
.buttons{
    position: absolute;
    display: inline-block;
    border: 2px solid black;
    width: 90%;
    height: 13%;
    top: 85%;
    bottom: 1%;
    left: 4.5%;
    text-align: center;
}

.camera{
    position: absolute;
    width:  380px;
    height: 360px;
    left: 73%;
    top: 1%;
    border: 2px solid black;
    text-align: center;
}
.options{
    position: absolute;
    width: 380px;
    height: 44%;
    left: 73%;
    top: 52%;
    border: 2px solid black;
    text-align: center;
}
.mute{
    position: absolute;
    top: 20%;
    left: 2%;
    width: 40px;
    height: 40px;
}
.volume{
    position: absolute;
    top: 20%;
    left: 8%;
    width: 40px;
    height: 40px;
}
.play{
    position: relative;
    top: 20%;
    left: -5%;
    width: 40px;
    height: 40px;
}
.previous{
    position: relative;
    top: 20%;
    left: 0%;
    width: 40px;
    height: 40px;
}
.next{
    position: relative;
    top: 20%;
    left: 5%;
    width: 40px;
    height: 40px;
}
.stop{
    position: absolute;
    top: 20%;
    right: 8%;
    width: 40px;
    height: 40px;
}
.shuffle{
    position: absolute;
    top: 20%;
    left: 93%;
    width: 40px;
    height: 40px;
}