<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Player</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@500&display=swap'" rel="stylesheet"> 
</head>
<body>




    <div class="container"> 

        <div class="music_player">  

            <div class="music">
               <img src="{% static '/images/music.png' %}" alt="hehe" id="bg">  
               
            </div>

            <div class="buttons">
                <button type = "button" class = "play">   
                     pre
                </button>

                <button type = "button" class = "previous">   
                     play
                </button>
                
                <button type = "button" class = "next">   
                     next
                </button>

                <button type = "button" class = "mute">   
                     mute
                </button>

                <button type = "button" class = "volume">   
                     vol
                </button>

                <button type = "button" class = "stop">   
                     stop
                </button>

                <button type = "button" class = "shuffle">   
                     shu
                </button>
                
               
            </div>

            <div class="list">
                music_list
            </div>

        </div>

        <div class="options">
            other_options
        </div>

        <div class="camera">
            camera
        </div>

    </div>
</body>
</html>